body,
html {
  margin: 0;
  padding: 0;
  font-family: 'sans';
  font-size: 10px;
  background: #93B5C6;
  user-select: none;
}

@font-face {
  src: url('font/sans.ttf');
  font-family: 'sans';
}

h1 {
  font-size: 5.5rem;
  color: #F5EFE6;
  font-family: "Arvo", cursive;
  text-align: center;
}

span {
  font-weight: 100;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #000000;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #000000;
  background-color: #FFE3E3;
}

.playing {
  transform: scale(1.1);
  border-color: #FFB1B1;
  box-shadow: 0 0 1rem #FFB1B1;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #6b82c9;
}

kbd {
  cursor: pointer;
}
